<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
  <ion-card>
  <img  src="assets/img/speakers/eetac.png" align="middle" />
  <ion-card-content>
    <ion-card-title>
    {{item.name}}
  </ion-card-title>
  </ion-card-content>

    <ion-item>
      <ion-icon name='ios-school' item-start style="color: #515151"></ion-icon>
      Titulación
      <ion-badge item-end color="light">{{item.studies}}</ion-badge>
    </ion-item>
   <ion-item>
     <ion-icon name='ios-calendar' item-start style="color: #515151"></ion-icon>
     Cuadrimestre
     <ion-badge item-end color="light">{{item.semester}}</ion-badge>

   </ion-item>
  </ion-card>
      </ion-row>

    <ion-row>
      <ion-title>Estudiantes</ion-title>
    </ion-row>
    <ion-row>
      <ion-col col-6>
  <ion-card>
    <ion-title>Cursando:</ion-title>
    <ion-list ion-item *ngFor="let student of item.students">
      <ion-icon item-end name="ios-trash" color="danger" (click)="delStudenttoSubject(item, student)"></ion-icon>

        <h2>{{student.name}}</h2>
    </ion-list>
  </ion-card>
      </ion-col>
        <ion-col col-6>
<ion-card>
  <ion-title>Totales:</ion-title>
  <ion-list ion-item *ngFor="let item2 of results2">
    <ion-icon item-end name="ios-add-circle" color="secondary" (click)="addStudenttoSubject(item, item2)"></ion-icon>

        <h2>{{item2.name}}</h2>
  </ion-list>
</ion-card>
        </ion-col>

    </ion-row>
    </ion-grid>
</ion-content>
